@import url('https://fonts.cdnfonts.com/css/apple-garamond');

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Apple Garamond', serif;
  font-weight: 900;
  cursor: none;
}

.header {
  box-sizing: border-box;
  color:bisque;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px;
  margin: 0;
  z-index: 1;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
}

h1 {
  padding: 0;
  margin: 0;
}

.comp1, .comp2, .comp3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2E2532;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0)
}

.comp2 {
  background-color: rgb(212, 196, 253);
}

.comp3 {
  background-color: rgb(253, 233, 196);
}

img {
  height: 300px;
  width: 400px;
}

.img-container {
  position: fixed;
  top: 0;
  left: 0;
}
